<html lang="en-US">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
        </script>
        <script>
            var app = angular.module("myApp", []);

            app.controller("myCtrl", function($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
            });

            app.directive("w3TestDirective", function() {
                return {
                    template : "I was made in a directive constructor!"
                };
            });

            app.directive("w3", function() {
                return {
                    template : "<h1>Made by a w3 directive!</h1>"
                };
            });

        </script>
    </head>
    <body ng-app="myApp">
        <div>
            <input type="text" ng-model="name" placeholder="Enter Name here">
            <br />
            This is {{name}}'s first div 
        </div>
        <div ng-init="myCol='red'">
            <input style="background-color:{{myCol}}" ng-model="myCol" value="myCol">
        </div>
        <div ng-controller="myCtrl">
                 {{ firstName + " " + lastName }}
        </div>
        <div w3-test-directive>
        </div>
        <w3>
        </w3>
    </body>
</html>