<html lang="en-US">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
        </script>
        <script>
            var app = angular.module("myApp", []);

            app.controller("myCtrl", function($scope) {
                $scope.firstName = "John";
                $scope.lastName = "Doe";
            });

            app.controller('customersCtrl', function($scope, $http) {
                $http.get("http://www.w3schools.com/angular/customers_mysql.php")
                .then(function (response) {$scope.names = response.data.records;});
            });


            app.directive("w3TestDirective", function() {
                return {
                    template : "I was made in a directive constructor!"
                };
            });

            app.directive("w3", function() {
                return {
                    template : "<h1>Made by a w3 directive!</h1>"
                };
            });

        </script>
        <style>
            input.ng-invalid {
                background-color: lightblue;
            }
            input.ng-valid {
                background-color: lightgreen;
            }
            
        </style>
    </head>
    <body ng-app="myApp">
        <div>
            <input type="text" ng-model="name" placeholder="Enter Name here">
            <br />
            This is {{name}}'s first div 
        </div>
        <div ng-init="myCol='red'">
            <input style="background-color:{{myCol}}" ng-model="myCol" value="myCol">
        </div>
        <div ng-controller="myCtrl">
                 {{ firstName + " " + lastName }}
        </div>
        <div w3-test-directive>
        </div>
        <w3>
        </w3>
<!Validations>
        <form name="myForm2">
            Email:
            <input type="email" name="myAddress" ng-model="text">
            <span ng-show="myForm2.myAddress.$error.email">Not a valid e-mail address</span>
        </form>

        <form  name="myForm1" ng-init="myText = 'post@myweb.com'">
            Email:
            <input type="email" name="myAddress" ng-model="myText" required>
            <h1>Status</h1>
            
            <br /> Valid : {{myForm1.myAddress.$valid}}
            <br /> Dirty : {{myForm1.myAddress.$dirty}}
            <br /> Touched : {{myForm1.myAddress.$touched}}
        </form>

        <form name="myForm">
            Enter your name:
            <input name="myName" ng-model="myText1" required type="tel">
        </form>


        <div ng-controller="customersCtrl"> 

        <table border="1px" >
            <tr ng-repeat="x in names">
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
            </tr>
        </table>

        </div>
    </body>
</html>